$two-country: 45%;
$two-country-margin: 100 - ($two-country * 2);
$three-country: 30%;
$three-country-margin: (100 - ($three-country * 3)) / 2;
$four-country: 22%;
$four-country-margin: (100 - ($four-country * 4)) / 3;

* { box-sizing: border-box; }

body {
  margin: 10px;
  font: normal 16px Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;

  &.active {
    font-weight: bold;
    background: #eee;
  }
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* HEADER */
header {
  margin-bottom: 20px;
  border-bottom: 1px solid black;

  h1 {
    font-size: 24px;
    text-transform: uppercase;
    float: left;
    width: 50%;
    word-spacing: 9999px;
  }

  nav {
    margin-left: 60%;
    font-size: 0;
    border-left: 1px solid black;

    a {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 30px;
      text-align: center;

      + a {
        border-top: 1px solid black;
      }
    }
  }

  @media (min-width: 768px) {
    h1 {
      float: none;
      width: 100%;
      margin-bottom: 40px;
      font-size: 36px;
      text-align: center;
      word-spacing: 0;
    }

    nav {
      margin-left: 0;
      border-left: none;

      a {
        display: inline-block;
        width: 33.333%;

        + a {
          margin-bottom: 0;
          border-top: none;
          border-left: 1px solid black;
        }
      }
    }
  }
}


/* MAIN PAGE */
.country {
  display: inline-block;
  width: $two-country;
  margin: 10px 0 10px $two-country-margin;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;

  &:nth-child(2n + 1) { margin-left: 0; }

  p {
    padding: 5px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd;
  }

  @media (min-width: 768px) {
    width: $three-country;
    margin-left: $three-country-margin;

    &:nth-child(2n + 1) { margin-left: $three-country-margin; }
    &:nth-child(3n + 1) { margin-left: 0; }
  }

  @media (min-width: 1000px) {
    p { font-size: 20px; }
  }

  @media (min-width: 1200px) {
    width: $four-country;
    margin-left: $four-country-margin;

    &:nth-child(2n + 1), &:nth-child(3n + 1) { margin-left: $four-country-margin; }
    &:nth-child(4n + 1) { margin-left: 0; }
  }
}

.flag {
  width: 100%;
  margin: 15px 0;
  border-radius: 4px;
}


/* COUNTRY PAGE */
.country-header {
  padding-bottom: 20px;
  text-align: center;
  line-height: 1.2;

  h2 { font-size: 36px; }
  p { font-size: 20px; }
}

.postcard {
  font-size: 0;
  .city { font-size: 16px }

  span {
    display: block;
    width: 100%;
    overflow: auto;
  }

  img { max-width: 100%; }
  .card-number { font-size: 18px; }

  + .postcard {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid black;
  }

  @media (min-width: 1000px) {
    span {
      display: inline-block;
      vertical-align: top;
      width: 50%;
    }

    .card-number { font-size: 20px; }
    .city { font-size: 18px; }
  }

  @media (min-width: 1200px) {
    .card-number { font-size: 22px; }
    .city { font-size: 20px; }
  }

  @media (min-width: 1600px) {
    img {
      max-width: 90%;
    }

    span + span img { float: right; }
  }
}


/* ABOUT */
.about {
  margin-bottom: 50px ;
  text-align: justify;
}

.map {
  height: 200px;
  width: 100%;
}

@media (min-width: 768px) {
  .about {
    width: 75%;
    margin: 0 auto 50px auto;
  }

  .map { height: 700px; }
}

@media (min-width: 1000px) {
  .about {
    width: 50%;
  }
}


/* FOOTER */
footer {
  margin-top: 15px;
  text-align: center;
  border-top: 1px solid black;

  p { padding: 10px 0; }
  span { color: red; }
  a { text-decoration: underline; }
}