@import url("./reset.css");
* {
  box-sizing: border-box; }

body {
  margin: 10px;
  font: normal 16px Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: black; }
  a.active {
    font-weight: bold;
    background: #eee; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both; }

/* HEADER */
header {
  margin-bottom: 20px;
  border-bottom: 1px solid black; }
  header h1 {
    font-size: 24px;
    text-transform: uppercase;
    float: left;
    width: 50%;
    word-spacing: 9999px; }
  header nav {
    margin-left: 60%;
    font-size: 0;
    border-left: 1px solid black; }
    header nav a {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 40px;
      text-align: center; }
      header nav a + a {
        margin-bottom: 15px;
        border-top: 1px solid black; }
  @media (min-width: 768px) {
    header h1 {
      float: none;
      width: 100%;
      margin-bottom: 40px;
      font-size: 36px;
      text-align: center;
      word-spacing: 0; }
    header nav {
      margin-left: 0;
      border-left: none; }
      header nav a {
        display: inline-block;
        width: 49%; }
        header nav a + a {
          margin-bottom: 0;
          border-top: none;
          border-left: 1px solid black; } }

/* MAIN PAGE */
.country {
  display: inline-block;
  width: 45%;
  margin: 10px 0 10px 10%;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px; }
  .country:nth-child(2n + 1) {
    margin-left: 0; }
  .country p {
    padding: 5px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd; }
  @media (min-width: 768px) {
    .country {
      width: 30%;
      margin-left: 5%; }
      .country:nth-child(2n + 1) {
        margin-left: 5%; }
      .country:nth-child(3n + 1) {
        margin-left: 0; } }
  @media (min-width: 1000px) {
    .country p {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .country {
      width: 22%;
      margin-left: 4%; }
      .country:nth-child(2n + 1), .country:nth-child(3n + 1) {
        margin-left: 4%; }
      .country:nth-child(4n + 1) {
        margin-left: 0; } }

.flag {
  width: 100%;
  margin: 15px 0;
  border-radius: 4px; }

/* COUNTRY PAGE */
.country-header {
  padding-bottom: 20px;
  text-align: center;
  line-height: 1.2; }
  .country-header h2 {
    font-size: 36px; }
  .country-header p {
    font-size: 20px; }

.postcard {
  font-size: 0; }
  .postcard .city {
    font-size: 16px; }
  .postcard span {
    display: block;
    width: 100%;
    overflow: auto; }
  .postcard img {
    max-width: 100%; }
  .postcard .card-number {
    font-size: 18px; }
  .postcard + .postcard {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid black; }
  @media (min-width: 1000px) {
    .postcard span {
      display: inline-block;
      vertical-align: top;
      width: 50%; }
    .postcard .card-number {
      font-size: 20px; }
    .postcard .city {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    .postcard .card-number {
      font-size: 22px; }
    .postcard .city {
      font-size: 20px; } }
  @media (min-width: 1600px) {
    .postcard img {
      max-width: 90%; }
    .postcard span + span img {
      float: right; } }

/* FOOTER */
footer {
  margin-top: 15px;
  text-align: center;
  border-top: 1px solid black; }
  footer p {
    padding: 10px 0; }
  footer span {
    color: red; }
  footer a {
    text-decoration: underline; }
