.countries .country {
  display: inline-block;
  width: 45%;
  margin: 10px 0 10px 10%;
}

.countries .country:nth-child(2n + 1) { margin-left: 0; }

@media (min-width: 768px) {
  .countries .country {
    width: 30%;
    margin-left: 5%;
  }

  .countries .country:nth-child(2n + 1) { margin-left: 5%; }
  .countries .country:nth-child(3n + 1) { margin-left: 0; }
}

@media (min-width: 1200px) {
  .countries .country {
    width: 22%;
    margin-left: 4%;
  }

  .countries .country:nth-child(2n + 1), .countries .country:nth-child(3n + 1) { margin-left: 4%; }
  .countries .country:nth-child(4n + 1) { margin-left: 0; }
}