.footer {
  margin-top: 15px;
  text-align: center;
  border-top: 1px solid black;
}

.footer a {
  color: black;
  text-decoration: underline;
}

.footer p { padding: 10px 0; }

.footer span {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  color: red;
  font-size: 40px;
  -webkit-animation: beat 1s infinite ease-in-out;
  animation: beat 1s infinite ease-in-out;
}

@keyframes beat {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  100% { transform: scale(0); }
}

.footer .fa {
  margin: 0 25px;
  font-size: 30px;
}

.footer .fa-instagram:hover { color: #f92c01; }
.footer .fa-github:hover { color: #582879; }
.footer .fa-linkedin:hover { color: #0274b3; }