.mapContainer {
  height: 200px;
  width: 100%;
}

.mapContainer .map { height: 100%; }

@media (min-width: 600px) {
  .mapContainer { height: 500px; }
}

@media (min-width: 768px) {
  .mapContainer { height: 700px; }
}